<h3>Please Sign up Here</h3>

<form action='/signup' method='post'>
  <div class='info'>
    <label class='lable'>Name:</label>
    <input type='text' name='name' placeholder='name'/>
  </div>
  <div class='info'>
    <label class='lable'>E-Mail:</label>
    <input type='text' name='email' placeholder='email'/>
  </div>
  <div class='info'>
    <label class='lable'>password:</label>
    <input type='password' name='password' placeholder='password'/>
  </div>
  <div class='info'>
    <input type='submit'id='signup' class='btn' value='sign_up'/>
  </div>
</form>
