<div class="container">
  <h2>Your survey is now complete.</h2>
  <p>Share the following link with people in order to have them take your survey.</p>
  <!-- ZM: Look into accessing the domain from ruby --> 
  <input id="share-survey-link" type="text" value="http://localhost:9393/survey/<%= survey.id %>" readonly>
</div>
