<div class='container'>
  <h1><%= survey.title %></h1>
  <form id='create_question' action="/survey/<%= survey.id %>/questions" method="post">
    <h3>Add a Question!<h3> <br>
    Question: <br>
    <input type="string" name="question_text" placeholder="What would you like to ask?"> <br>
    <div class="choices">
      <p><input type="string" name="choices[1]" placeholder="Choice here"></p>
      <p class="option"><input type="string" name="choices[2]" placeholder="Choice here"></p>
    </div>
    <p><a class="add" href="#">Add Choice</a></p>
    <input type="submit" value="Add Question">
  </form>
  <form action="/survey/<%=survey.id%>/share" method="get">
    <p><input type="submit" value="Finish and Share" /></p>
  </form>
  <h3>Number of Questions thus far: <span id='num_questions'><%= survey.questions.length %></span></h3>
</div>
