<div class='container'>
  <h1><%= survey.title %></h1>
  <form action="/survey/<%= survey.id %>/questions" method="post">
    <h3>Add a Question!<h3> <br>
    Question: <br>
    <input type="string" name="question_text" placeholder="What would you like to ask?"> <br>
    <div class="choices">
      <p><input type="string" name="choices[1]" placeholder="Choice here"></p>
      <p class="option"><input type="string" name="choices[2]" placeholder="Choice here"><a class="add" href="#">Add Choice</a></p>
    </div>
    <input type="submit" value="Add Question">
  </form>
</div>
