<div class="col-xs-3 col-md-3"></div>
<div class="col-xs-8 col-md-8">
  <h1>Survey Guerrilla</h1>
    <p>SurveyGuerrilla was founded on a handshake in 2015 as a small group of coders dedicated to providing surveys at the highest level.  We have achieved extraordinary results following the distinctive vision of our founders - a cohesive team of coders intensely focused on solving our clients' most important problems.</p>

    <p>We have experience in the fields of Ruby, jQuery, AJAX, Sinatra, ActiveRecord, and debatably, JavaScript.  We handle some of the smallest, least complex and demanding transactions in the United States and around the world.  We counsel both public and private coding resources. We have a track record of original and groundbreaking solutions and innovations that have had a dramatic impact on DBC. We are thought leaders.</p>
</div>
<div class="col-xs-3 col-md-3"></div>
