<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/animate.css">
 <script src="/js/d3pie.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid navigation">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-toggle">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/">Survey Guerilla</a>
      </div>

  <% if is_authenticated? %>
    <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/team">The Team</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="javascript:postUrl('/logout')">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
   <% else %>
    <form method='post' action='/login' class="navbar-form navbar-right">
        <div class="form-group">
          <input name="email" type="email" class="form-control form-field" placeholder="email">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control form-field" placeholder="password">
        </div>
       <button type="submit" class="btn btn-default">Sign In</button>
    </form>
  <% end %>
  </nav>
</header>
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <%= yield %>
  </div>
  <div class="col-md-4"></div>
</body>
</html>


