<div class="conatiner">
  <div class="row">
    <div class="col-xs-6 col-md-3 pics">
      <a id="scott-pic" href="#" class="thumbnail"><img src="/img/scott-square.jpg" alt="Scott Warner"></a>
    </div>
    <div class="col-xs-6 col-md-3 pics">
      <a id="sherm-pic" href="#" class="thumbnail"><img src="img/sherm-square.jpg" alt="Sherman Ng"></a>
    </div>
    <div class="col-xs-6 col-md-3 pics">
      <a id="sid-pic" href="#" class="thumbnail"><img src="img/sid-square.jpg" alt="Sid Watal"></a>
    </div>
  </div>
  <div id="scott-bio" class="bio">
    <div class="col-xs-6 col-md-6 pics">
      <a href="#" class="thumbnail"><img src="/img/scott.jpg" alt="Scott Warner"></a>
    </div>
    <p>Remember those amazing pie-charts you saw on the analytics page. That was this guy.</p>
    <p>Remember how you had to login to view the dashboard. Also this guy.</p>
    <p>Remember that time you felt someone was watching you from across the room filling you with a sense of dread and unease. I can't prove anything, but it was probably this guy too.</p>
  </div>
  <div id="sherm-bio" class="bio">
    <div class="col-xs-6 col-md-6 pics">
      <a id="sherm-pic" href="#" class="thumbnail"><img src="img/sherm.jpg" alt="Sherman Ng"></a>
    </div>
    <p>Sherm took Survey Guerrilla from one AJACK to many AJAX.</p>
    <p>Your ability to create surveys would not exit if it wasn't for him.</p>
    <p>When not coding, Sherman enjoys looking down on people who don't have his refined pallete.</p>
  </div>
  <div id="sid-bio" class="bio">
    <div class="col-xs-6 col-md-6 pics">
      <a id="sid-pic" href="#" class="thumbnail"><img src="img/sid.jpg" alt="Sid Watal"></a>
    </div>
    <p>In his previous careers, Sid has been a firefighter and an exotic dancer.</p>
    <p>Now, he creates janky jQuery(this page) and gives users the ability to take surveys.</p>
  </div>
</div>
